*{
  margin: 0px;
  padding: 0px;
  font-family: montserrat;
}

.container { 
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1.1fr 0.9fr;
    grid-template-rows: 0.4fr 0.2fr 2.7fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "side-left content side-right"
      "footer footer footer";
}
   
.header { grid-area: header; background-color: #1E212B;}
.name{
  position:absolute;
  top: 5%;
  left: 50%;
  color: #fff;
}
   
.nav { grid-area: nav; background-color: #373C4A; }
.nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.nav li{
  display: inline;
  float: left;
}

.nav li a{
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover{
  background-color: #4a5061;
}


   
.side-left {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('../images/kansikuva-etusivulle-hammerfest.jpg'); background-repeat: no-repeat;

  grid-area: side-left; 
  /* background-image: url('../images/kansikuva-etusivulle-hammerfest.jpg');  */
  object-fit: scale-down; 
}
   
.content { grid-area: content;}
   
.side-right { grid-area: side-right;}
   
.footer { grid-area: footer; }

.topbar{
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
}

.language{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

img.language-switch{
  width: 40px;
  height: auto;
  border: 1px solid #ddd;
}

.footer p{
  text-align: center;
}
/* Responsiivinen osuus alkaa */

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.2fr 1fr 1fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "nav"
      "side-left"
      "content"
      "side-right"
      "footer";
  }
}